{% extends 'layout.html.twig' %}

{% block title %}AJAX Language Search{% endblock %}

{% block content %}
    <h1>Lang search</h1>
    <form class="row g-3">
        <div class="col-auto">
            <input type="text" class="form-control" id="searchBox" placeholder="Keywords">
        </div>
    </form>
    <p id="results"></p>
{% endblock %}

{% block scripts %}
    {# This moves the JavaScript from the bottom of index2.php here #}
    <script>
        // We "listen" for key pressed in our search box
        document.getElementById("searchBox").addEventListener("keyup", doSearch);
        
        // Function called when searching
        function doSearch() {
            // Get keyword from search box
            keywords = document.getElementById("searchBox").value;
            
            // Call server script, passing our keyword
            fetch('https://mi-linux.wlv.ac.uk/~2407655/fullstack/ajax.php?search=' + keywords)
            // Convert response string to json object
            .then(response => response.json())
            .then(response => {
                // Clear result box
                document.getElementById("results").innerHTML = '';
                
                // Loop through data and add to result box
                response.forEach(lang => {
                    document.getElementById("results").append(lang.lang_name + ' ');
                });
            });
        }
    </script>
{% endblock %}